@import "../../../assets/scss/Colors";

.footer {
    width: 100%;
    height: 320px;
    background: linear-gradient(to bottom, rgba(32, 19, 61, 0.73), #0b0c19), url("../../../assets/img/bg-footer.jpeg") no-repeat;
    background-size: cover;
    padding: 50px 0 30px 0;
    // TO BE DELETED
    position: fixed;
    bottom: 0;


    .container {
        padding: 0 5%;
        height: 100%;
        color: $silver;

        ul li {
            display: inline;
        }

        .list {

            &__item {

                .icon {
                    width: 24px;
                    height: 24px;
                    margin-right: 40px;
                    cursor: pointer;
                }
            }
        }

        .top {
            height: 90%;

            .header {
                margin-bottom: 35px;
            }

            .left {
                width: 450px;
                height: 100%;
                float: left;
    
                .contact {
                    width: 100%;
                    height: calc(100% - 54px);

                    &__container {
                        min-height: 52px;
                        height: fit-content;
                        letter-spacing: 0.7px;
                        line-height: 30px;

                        .label {
                            font-size: 17px;
                            width: calc(100% - 260px);
                            min-width: 150px;
                            display: inline-block;
                        }
    
                        .info {
                            display: inline-block;
                            font-size: 15px;
                            color: $silver;
                        }

                    }
    
                    
                }
            }
            
            .right {
                width: 450px;
                float: right;

                form {
                    width: 100%;
                    margin-bottom: 30px;

                    .form__container {
                        width: 80%;
                        position: relative;

                        input {
                            width: 100%;
                            height: 30px;
                            background-color: transparent;
                            border: none;
                            color: $white;
                            font-size: 14px;
                        }

                        .ic__arrow {
                            position: absolute;
                            right: 0;
                            bottom: 7px;
                        }

                        .bar {
                            width: 100%;
                            height: 1px;
                            border-bottom: 1px solid $dimgray;
                            transition: all .6s cubic-bezier(.25,.8,.25,1);
                        }

                        input:focus ~ .bar,
                        input:not(:focus):valid ~ .bar {
                            border-bottom: 1px solid $white;
                            transition: all .6s cubic-bezier(.25,.8,.25,1);
                        }

                        .floating-label {
                            position: absolute;
                            pointer-events: none;
                            left: 0px;
                            top: 8px;
                            transition: 0.2s ease all;
                            color: $white;
                            font-size: 14px;
                        }

                        input:focus ~ .floating-label,
                        input:not(:focus):valid ~ .floating-label{
                            top: -18px;
                            left: 5px;
                            font-size: 11px;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        
        .bot {
            .left {
                width: 450px;
                height: 100%;
                float: left;
            }

            .right {
                width: 450px;
                float: right;
            }

            .list__item {
                margin-right: 40px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: $white;
                }
            }
        }
    }
}


