<footer class="footer">
    <div class="container">
        <div class="top">
            <div class="left">
                <h4 class="header f__c--white f__s--20">GOT AN IDEA? REACH US NOW!</h4>
                <div class="contact">
                    <div class="contact__container">
                        <h5 class="label f__c--white">EMAIL:</h5>
                        <p class="info">
                            <a>
                                info@conceptual.studio
                            </a>
                        </p>
                    </div>

                    <div class="contact__container">
                        <h5 class="label f__c--white">PHONE:</h5>
                        <p class="info">
                            <a>
                                +84 (0) 28 62753001
                            </a>
                        </p>
                    </div>

                    <div class="contact__container">
                        <h5 class="label f__c--white" style="vertical-align: top;">ADDRESS:</h5>
                        <p class="info">
                            <a href="https://goo.gl/maps/yw9Z2zyUYQeeypUr5" target="_blank">
                                Floor 3, 252 Nguyen Van Huong <br>Thao Dien Ward, District 2 <br>Ho Chi Minh City, Vietnam <br>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="right">
                <h4 class="header f__c--white f__s--20">GET IN TOUCH</h4>
                <form>
                    <div class="form__container">
                        <input type="text" required/>
                        <span class="floating-label">Your E-mail, Our Newsletter</span>
                        <img class="ic__arrow" src="../../../assets/img/small-next.svg">
                        <div class="bar"></div>                              
                    </div>
                </form>
                
                <ul class="list">
                    <li class="list__item">
                        <img class="icon" src="../../../assets/img/ic-facebook.svg">
                    </li>
                    <li class="list__item">
                        <img class="icon" src="../../../assets/img/ic-linkedin.svg">
                    </li>
                    <li class="list__item">
                        <img class="icon" src="../../../assets/img/ic-dribbble.svg">
                    </li>
                </ul>
            </div>
        </div>
        <div class="bot">
    
        </div>
    </div>
</footer>