<nav class="navbar">
    <div class="container">

        <img class="logo" src="../../../assets/img/kentico.png" alt="logo">

        <ul class="list f__s--13">
            <li class="list_item f--bold">
                <a>OUR WORK</a>
            </li>
            <li class="list_item f--bold">
                <a>ABOUT</a>
            </li>
            <li class="list_item f--bold">
                <a>CONTACT</a>
            </li>
            <li class="list_item no--padding">

                <div class="btn_container">
                    <a class="btn">START A PROJECT</a>
                </div>

            </li>
        </ul>

        <div class="menu_icon_container" (click)="menuClicked()">
            <div class="menu_icon" [ngClass]="{'menu_icon--clicked': clicked}">
            </div>
        </div>

    </div>
</nav>