@import "../../../assets/scss/Colors";

.navbar {
    background-color: transparent;
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    position: fixed;

    @media screen and (max-width: 768px) {
        height: 60px;
    }

    .container {
        width: 100%;
        height: 45px;
        padding: 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .logo {
            width: 160px;
            height: 45px;
        }

        .list {
            width: 600px;
            height: 100%;
            display: flex;
            align-items: center;

            .list_item {
                color: $silver;
                height: 100%;
                line-height: 45px;
                padding: 0 20px;
                cursor: pointer;

                .btn_container {
                    width: 235px;
                    height: 45px;

                    .btn {
                        width: 231px;
                        height: 41px;

                        @media screen and (max-width: 991px) {
                            width: 176px;
                            height: 36px;
                        }
                    }

                    @media screen and (max-width: 991px) {
                        width: 180px;
                        height: 40px;
                    }
                }
            }
            
            .list_item:hover {
                color: $white;
            }

            @media screen and (max-width: 768px) {
                display: none;
            }

            @media screen and (max-width: 991px) {
                width: 510px;
                height: 40px;
            }
        }


        .menu_icon_container {
            display: none;

            .menu_icon {
                width: 24px;
                height: 2px;
                background-color: $white;
                position: relative;

                &::before, &::after {
                    background-color: $white;
                    width: 12px;
                    height: 2px;
                    transition: 0.3s;
                }
    
                &::before {
                    content: "";
                    position: absolute;
                    top: -10px;
                    right: 0;
                }
    
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                }

                &--clicked {

                    &::before {
                        content: "";
                        position: absolute;
                        right: 50%;
                    }
        
                    &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                    }
                }
            }
            
            @media screen and (max-width: 768px) {
                display: block;
            }
        }

        ul > li {
            display: inline-block;
        }
    }
    
}