@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import "./assets/scss/Colors";

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}


body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
strong {
  margin: 0;
}

a,
button {
  cursor: pointer;
  outline: none;
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

input,
select,
button {
  box-shadow: none !important;

  &:focus,
  &:active {
    outline: none !important;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// global characteristics
.no {
    &--padding {
        padding: 0 !important;
    }
}

.f {
  &__c {
    &--white {
      color: $white;
    }
    &--silver {
      color: $silver;
    }
    &--gray {
      color: $dimgray;
    }
  }

  &__s {
    &--13 {
      font-size: 13px;
    }
    &--18 {
      font-size: 18px;
    }
    &--20 {
      font-size: 20px;
    }
  }

  &--bold {
    font-weight: bold;
  }
}

// button
.btn_container {
    // width: 235px;
    // height: 45px;
    border-radius: 30px;
    background: linear-gradient(45deg, $darkslateblue, $mediumpurple);
    color: $white;
    font-weight: bold;
    text-align: center;
    position: relative;

    .btn {
        // width: 231px;
        // height: 41px;
        background-color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        box-sizing: border-box;
        border: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .btn:hover {
        background-color: transparent;
        transition: 0.3s;
    }
}